API_URL=''
# API_URL='http://localhost:8000/api/v1'

# URL_FRONTEND_PASSWORD_REQUEST='https://allnube.com.br/pages/authentication/reset-password'
URL_FRONTEND_PASSWORD_REQUEST=''
CALLMEBOT_API_KEY=""

API_USERNAME=''
API_PASSWORD=''

# docker rm postgres
# docker run --name allnube ` -e POSTGRES_DB=allnube ` -e POSTGRES_USER=allnube ` -e POSTGRES_PASSWORD=mysecretpassword ` -p 5432:5432 ` -d postgres:15
# Localhost
DB_CONNECTION='django.db.backends.postgresql'
DB_HOST='localhost'
DB_PORT='5432'
DB_DATABASE='allnube'
DB_USERNAME='allnube'
DB_PASSWORD='mysecretpassword'

# E-MAIL
EMAIL_HOST=''
EMAIL_PORT=''
EMAIL_USE_TLS=True
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=''

# E-MAIL NUMB3RS
EMAIL_NUMB3RS_HOST=''
EMAIL_NUMB3RS_PORT=587
EMAIL_NUMB3RS_USE_TLS=True
EMAIL_NUMB3RS_HOST_USER=''
EMAIL_NUMB3RS_HOST_PASSWORD=''
DEFAULT_NUMB3RS_FROM_EMAIL=''

SECRET_KEY=""
FERNET_SECRET_KEY=""

DEBUG=True
SANDBOX_NFE=True

DOWNLOAD_AGENDA=''

AWS_USE_S3_UPLOAD =True
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=''
AWS_BUCKET=''
AWS_USE_PATH_STYLE_ENDPOINT=false

GEMINI_API_KEY=''